:root {
    --global-text-color: #212121;
    --general-white-color: #FFFFFF;
    --general-blue-color: #2196F3;
    --grey-block-color: #2F303A;
    --described-text-color: #757575;
    --block-color: #F5F4FA;
    --contacts-color: #757575;
    --border-color: #ECECEC;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--global-text-color);
    letter-spacing: 0.03em;
}
body ul {
    list-style: none;
}

h1, h2, h3, p, ul {
    padding: 0;
    margin: 0;
}

img {
    display: block;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* Header + footer */

.header {
    font-size: 14px;
    line-height: 1.17;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--general-white-color);
    border-bottom: 1px solid var(--border-color);
}

.header .container {
    padding: 24px 0 25px 0;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.nav-menu {
    margin-left: 93px;
}
.nav-menu ul{
    display: flex;
    gap: 50px;
}
.nav-menu a{
    color: var(--global-text-color);
    text-decoration: none;
}

.contacts {
    display: flex;
    margin-left: auto;
    gap: 40px;
}
.contacts a{
    text-decoration: none;
    color: var(--contacts-color);
    fill: currentColor;
    > svg {
        margin-right: 10px;
    }
}

.header a:hover, 
.header a:focus {
    color: var(--general-blue-color);
}

.footer {
    font-size: 14px;
    line-height: 1.14;
    background-color: var(--grey-block-color);
    color: var(--general-white-color);
}
.footer .container {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    gap: 70px;
}
.footer-contacts {
    margin-top: 28px;
    font-style: normal;
}
.city-address {
    display: block;
    margin-bottom: 12px;
}
.footer-contacts ul li:not(:last-child){
    margin-bottom: 12px;
}
.footer-contacts a {
    text-decoration: none;
    color: var(--general-white-color);
    opacity: 60%;
}

.footer-right-side h3 {
    margin: 12px 0 20px 0;
    font-size: 14px;
    line-height: 1.17;
    font-weight: 700;
    letter-spacing: 0.03em;
}
.footer-social-link-list {
    display: flex;
    gap: 10px;

    > li {
        height: 44px;
        width: 44px;
    }
}
.footer-social-link-icon{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    height: 100%;

    fill: var(--general-white-color);
}
.footer-social-link-icon:hover,
.footer-social-link-icon:focus {
    background: var(--general-blue-color);
}

/* Main-page intro */

.intro {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/introBackgroundImage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    text-align: center;
}
.intro .container {
    padding-top: 200px;
    padding-bottom: 200px;
}
.intro h1 {
    text-transform: uppercase;
    max-width: 696px;
    margin-bottom: 30px;
    font-size: 44px;
    line-height: 1.36;
    font-weight: 900;
    letter-spacing: 0.06em;
    color: var(--general-white-color);
}
.intro button {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.88;
    font-weight: 700;
    letter-spacing: 0.06em;
    padding: 10px 24px 10px 24px;
    border: none;
    border-radius: 4px;
    color: var(--general-white-color);
    background-color: var(--general-blue-color);
}
.intro button:hover,
.intro button:focus {
    background-color: #188CE8;
}

/* Main-page features */

.features {
    padding: 94px 0 94px 0;
}
.features .container {
    > ul {  
        display: flex;
        gap: 30px;
    }
}
.features h3 {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.17;
    margin-bottom: 10px;
}
.features p {
    max-width: 270px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    color: var(--described-text-color);
}
.features-icon{
    padding: 25px 100px 25px 100px;
    margin-bottom: 30px;
    border-radius: 4px;
    background: var(--block-color);
}

/* Main-page occupation */

.occupation .container {
    text-align: center;
    padding-bottom: 94px;
}
.occupation ul {
    display: flex;
    gap: 30px;
}
.caption {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    margin-bottom: 50px;
}

/* Cards + team*/

.team {
    background-color: var(--block-color);
}
.team .container {
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;
}
.cards-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.cards-list .card {
    line-height: 1.17;
    margin: 0;
    border-radius: 0px 0px 4px 4px;
    background-color: var(--general-white-color);
    padding-bottom: 30px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    > img {
        margin-bottom: 30px;
    }
}
.cards-list .card h3 {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.03em;
    line-height: 1.17;
    margin-bottom: 10px;
}
.cards-list .card p {
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    margin-bottom: 16px;
    color: var(--described-text-color);
}
.team-social-link-list {
    display: flex;
    gap: 10px;
    justify-content: center;

    > li {
        height: 44px;
        width: 44px;
    }
}
.team-social-link-icon {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    height: 100%;

    color: rgba(175, 177, 184, 1);
    fill: currentColor;
}
.team-social-link-icon:hover,
.team-social-link-icon:focus {
    color: var(--general-white-color);
    background: var(--general-blue-color);
}

/* Main page regular-clients */

.regular-clients {
    padding-top: 94px;
    padding-bottom: 94px;
}
.regular-clients .container {
    text-align: center;
}
.regular-clients-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.regular-clients-link-icon {
    margin: 0;
    padding: 16px 32px 16px 32px;
    text-decoration: none;
    display: flex;
    border: 1px solid rgba(175, 177, 184, 1);
    border-radius: 4px;

    color: rgba(175, 177, 184, 1);
    fill: currentColor;
}
.regular-clients-link-icon:hover,
.regular-clients-link-icon:focus {
    fill: var(--general-blue-color);
    border-color: var(--general-blue-color);
}

/* projects + filters */
.projects{
    padding-top: 94px;
    padding-bottom: 94px;
}
.filters {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}
.filters button {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    border: none;
    border-radius: 4px;
    padding: 6px 22px 6px 22px;
    color: var(--global-text-color);
    background-color: var(--block-color);
}
.filters button:hover,
.filters button:focus {
    color: var(--general-white-color);
    background-color: var(--general-blue-color);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.portfolio .card {
    max-width: 370px;
    text-align: start;
    line-height: 1.17;
    margin: 0;
    border: 1px solid #EEEEEE;
    background-color: var(--general-white-color);
    padding-bottom: 20px;
    > img {
        margin-bottom: 20px;
    }
    > figcaption{
        padding-left: 24px;
    }
}
.portfolio .card:hover,
.porfoli .card:focus{
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.portfolio .card h3 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.06em;
    line-height: 2;
    margin-bottom: 4px;
}
.portfolio .card p {
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.875;
    color: var(--described-text-color);
}