$global-text-color: #212121;
$general-white-color: #FFFFFF;
$general-blue-color: #2196F3;
$grey-block-color: #2F303A;
$described-text-color: #757575;
$block-color: #F5F4FA;
$contacts-color: #757575;
$border-color: #ECECEC;