.features {
    
    .container {
    padding-top: 94px;
    padding-bottom: 94px;
    
    @include tablet {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @include mobile {
        padding-top: 60px;
        padding-bottom: 60px;
    }

        ul {
            display: flex;
            gap: 30px;

            @include tablet {
                flex-wrap: wrap;
                justify-content: center;
            }

            @include mobile {
                flex-wrap: wrap;
                justify-content: center;
            }
        }
    }
    
    h3 {
        font-size: 14px;
        font-weight: 700;
        line-height: 1.17;
        margin-bottom: 10px;

        @include mobile {
            text-align: center;
        }
    }

    p {
        max-width: 270px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.71;
        color: $described-text-color;

        @include mobile {
            max-width: fit-content;
        }
    }

    .features-icon{
        padding: 25px 100px 25px 100px;
        margin-bottom: 30px;
        border-radius: 4px;
        background: $block-color;

        @include tablet {
            padding: 25px 142px 25px 142px;
        }

        @include mobile {
            padding: 25px 190px 25px 190px;
        }
    }
}